logs/
*.log
npm-debug.log*
**/*.log

.tmp/
.cache/
.eslintcache
.node_repl_history

.DS_Store
.vscode/
.idea/
.project
.classpath

build/
dist/
out/
frontend/build/
frontend/dist/
backend/dist/
backend/pdfs/*.pdf
backend/emailFiles/*

**/node_modules/

**/.env

toDoList.txt
.stylelintcache
tsconfig.tsbuildinfo
pnpm-debug.log*
tsconfig.tsbuildinfo
